#  LESSON 1

# Our First Program

In [2]:
print("My name is Diksha Singh")
print("I am 23 years old.")
print("My name is Diksha Singh.", "I am 24 years old.")
print(45)
print(45+55)

My name is Diksha Singh
I am 23 years old.
My name is Diksha Singh. I am 24 years old.
45
100

# Variable and how to use them

In [3]:
name= "Diksha" #String
age= 23 #Integer
marks= 97.97 #Float

print(name)
print(age)
print(marks)

Diksha
23
97.97

## Another way to print output

In [4]:
print("My name is:", name)
print("My age is", age)
print("My marks are", marks)

My name is: Diksha
My age is 23
My marks are 97.97

# Data Types

1. Integers
2. String
3. Float
4. Boolean
5. None

In [5]:
name= "Diksha" #String
age= 23 #Integer
marks= 97.97 #Float

print(name)
print(age)
print(marks)

age2= age
print(age2)

#To print the data type of the above variables
print(type(name))
print(type(age)) #integer can be +ve or -ve value
print(type(marks))

Diksha
23
97.97
23
<class 'str'>
<class 'int'>
<class 'float'>

In [6]:
age=23
old= False #F of the false should be in uppercase
a= None
#to print the data type of the above variables
print(type(age))
print(type(old))
print(type(a))

<class 'int'>
<class 'bool'>
<class 'NoneType'>

# To print sum and difference of two numbers

In [7]:
a= 15
b= 13
sum= a+b #Addition
print(sum)
diff= a-b
print(diff) #Subtraction

28
2

# Types of operators in Python

Arithmetic Operators ( + , - , * , / , % , ** )

Relational / Comparison Operators ( == , != , > , < , >= , <= )

Assignment Operators ( = , +=, -= , *= , /= , %= , **= )

Logical Operators ( not , and , or )

# 1.Arithmetic Operator

In [8]:
a=5
b=2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) #Remainder
print(a**b) #Power operator 5^2

7
3
10
2.5
1
25

# 2.Relational/Comparison Operators

In Relational operators, output is always either True or False

In [9]:
a=50
b=20

print(a==b) #False
print(a!=b) #True
print(a>=b) #True
print(a>b) #True
print(a<=b) #False
print(a<b) #False

False
True
True
True
False
False

# 3. Assignment Operators

In [10]:
num=10
num+=5 #num=num+5
print("num:", num)

num=10
num-=5 #num=num-5
print("num:", num)

num=10
num*=5 #num=num*5
print("num:", num)

num=10
num/=5 #num=num/5
print("num:", num)

num=10
num%=5 #num=num%5
print("num:", num)

num=10
num**=5 #num=num**5
print("num:", num)

num: 15
num: 5
num: 50
num: 2.0
num: 0
num: 100000

# 4.Logical operator

In [11]:
a= 50
b=20
print(not True)
print(not False)

print(not (a>b))
print(not (a<b))

val1= True
val2= True
print("AND operator:", val1 and val2)
print("OR operator:", val1 or val2)

val1= True
val2= False
print("AND operator:", val1 and val2)
print("OR operator:", val1 or val2)

val1= False
val2= False
print("AND operator:", val1 and val2)
print("OR operator:", val1 or val2)

#a=50 & b=20
print("AND operator:", (a==b) and (a>b))
print("OR operator:", (a==b) or (a>=b))

False
True
False
True
AND operator: True
OR operator: True
AND operator: False
OR operator: True
AND operator: False
OR operator: False
AND operator: False
OR operator: True

# Type conversion 
Data type conversion automatically

In [13]:
a=2 #int
b=4.25 #float

sum=a+b #Python automatically converts int value into float [2.0+4.25]
print(sum)

6.25

# Type Casting
Data type conversion manually

In [14]:
#Let a= "2" and b =4.45 
#ERROR [we cannot add string type to float or integer]
a=int("2") ##To change the string type into integer
b=4.25 #float

sum=a+b 
print(sum)

c=3.14
c= str(c)
print(type(c))

6.25
<class 'str'>

# Input in Python
input( ) statement is used to accept values (manually using keyboard) from user

In [15]:
#Result for input() is always a string
name= input("Enter your name:") 
print("Welcome", name)
print(type(name), name) #ALWAYS STRING

Enter your name:Diksha Singh
Welcome Diksha Singh
<class 'str'> Diksha Singh

TO DETERMINE THE ACCURATE DATA TYPE WE USE TYPECASTING

In [17]:
age= int(input("Enter your age:")) #To convert into int
print("your age is", age)
print(type(age), age) #ALWAYS STRING

Enter your age:23
your age is 23
<class 'int'> 23

# PRACTICE QUESTIONS

1. Write a Program to input two numbers & print their sum.

In [18]:
num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))
print("The sum is: ",(num1 + num2))

Enter number 1 : 12
Enter number 2 : 13
The sum is:  25

2. Write a Program to input side of a square & print its area.

In [20]:
side = float(input("Enter the side of the square : "))
print("Area of Square is : ", (side*side))

Enter the side of the square : 12
Area of Square is :  144.0

3. Write a Program to input two floating point numbers & print their average.

In [21]:
number1 = float(input("Enter number 1 : "))
number2 = float(input("Enter number 2 : "))
average  = (number1 + number2 ) / 2
print("The average is : ",average)

Enter number 1 : 12.5
Enter number 2 : 15.3
The average is :  13.9

4. Write a Program to input two int numbers, a and b. Print True if a is greater than or equal to b. If not print False.

In [22]:
a = int(input("Enter number 1 : "))
b = int(input("Enter number 2 : "))
print(a>=b)

Enter number 1 : 13
Enter number 2 : 9
True