# LECTURE 3

# Lists in Python

A built-in data type that stores set of values.
It can store elements of different types together (integer, float, string, etc.)

In [1]:
marks= [95.9, 78.5, 89.4, 96.7, 76.9]
print(marks)
print(type(marks))

[95.9, 78.5, 89.4, 96.7, 76.9]
<class 'list'>

In [2]:
marks= [95.9, 78.5, 89.4, 96.7, 76.9]
print(marks[3])

96.7

In [3]:
student= ["Karan", 56, "Delhi"] #elements of different types

In python, Strings are immutable(cannot change) and lists are mutable(can change)

In [4]:
student= ["Karan", 56, "Delhi"]
print(student[0])
student[0]= 'Arjun'
print(student)

Karan
['Arjun', 56, 'Delhi']

# List Slicing - Similar to String Slicing
#  list_name[ starting_idx : ending_idx ]  
#ending idx is not included

In [5]:
marks= [95.9, 78.5, 89.4, 96.7, 76.9]
print(marks[1:4])

[78.5, 89.4, 96.7]

In [6]:
marks= [95.9, 78.5, 89.4, 96.7, 76.9]
print(marks[:4])

[95.9, 78.5, 89.4, 96.7]

In [7]:
marks= [95.9, 78.5, 89.4, 96.7, 76.9]
print(marks[1:])

[78.5, 89.4, 96.7, 76.9]

Negative Slicing

In [8]:
marks= [95.9, 78.5, 89.4, 96.7, 76.9]
print(marks[-3:-1])

[89.4, 96.7]

# LIST METHODS

# 1. list.append():   
This method appends items to the end of the existing list

In [9]:
list = [2,3,5]
list.append(4)
print(list)

[2, 3, 5, 4]

# 2. list.sort():  
This method sorts the list in ascending order.

In [11]:
colors = ["voilet", "indigo", "blue", "green"] 
colors.sort() 
print(colors)

['blue', 'green', 'indigo', 'voilet']

# 3. list.sort( reverse=True ) 
This method sorts th list in descending order.

In [12]:
num = [4,2,5,3,6,1,2,1,2,8,9,7] 
num.sort(reverse=True) 
print(num)

[9, 8, 7, 6, 5, 4, 3, 2, 2, 2, 1, 1]

# 4. list.reverse():  
This method reverses the order of the list.

In [13]:
num = [4,2,5,3,6,1,2,1,2,8,9,7] 
num.reverse() 
print(num)

[7, 9, 8, 2, 1, 2, 1, 6, 3, 5, 2, 4]

In [15]:
colors = ["voilet", "indigo", "blue", "green"] 
colors.reverse() 
print(colors)

['green', 'blue', 'indigo', 'voilet']

# 5. list.insert():  
This method inserts an item at the given index. User has to specify index and the item to be inserted within the 
insert() method.

In [16]:
colors = ["voilet", "indigo", "blue"] 
#            [0]      [1]      [2] 
 
colors.insert(1, "green") #inserts item at index 1 
# updated list: colors = ["voilet", "green", "indigo", "blue"] 
# indexs                    [0]       [1]       [2]     [3] 
 
print(colors)

['voilet', 'green', 'indigo', 'blue']

# 6. list.remove():  
removes first occurrence of element

In [17]:
list = [4,6,2,6,3,8,4,7,0]
list.remove(6) 
print(list)

[4, 2, 6, 3, 8, 4, 7, 0]

# 7. list.pop():  
removes element at index number

In [18]:
list = [4,6,2,6,3,8,4,7,0]
list.pop( 2 ) 
print(list)

[4, 6, 6, 3, 8, 4, 7, 0]

# PYTHON TUPLES

* ordered collection of data items
* enclosed within round brackets ()
* Tuples are unchangeable meaning we can not alter them after creation.

In [19]:
tup = (2,4,6,1,9)
print(tup)
print(type(tup))

(2, 4, 6, 1, 9)
<class 'tuple'>

In [20]:
#empty tuple
tup = ()
print(tup)
print(type(tup))

()
<class 'tuple'>

In [21]:
tup = (1) #python will consider it as an integer
print(tup)
print(type(tup))

tup = (1.6) #python will consider it as an float
print(tup)
print(type(tup))

tup = ("hello") #python will consider it as an string
print(tup)
print(type(tup))

1
<class 'int'>
1.6
<class 'float'>
hello
<class 'str'>

In [22]:
#printing via index numbers
tup = (2,4,6,1,9)
print(tup[0])

2

In [23]:
#slicing
tup = (2,4,6,1,9)
print(tup[1:3])

(4, 6)

# Tuple Methods

In [24]:
#returns index of first occurrence
tup = (2,4,6,1,9)
print(tup.index( 4 ))

1

In [25]:
#counts total occurrences
tup = (2,4,6,1,9,9)
print(tup.count( 9 ))

2

# PRACTICE QUESTIONS

# WAP to ask the user to enter names of their 3 favorite movies & store them in a list.

In [1]:
movies = []
mov1 = input("Enter first movie: ")
mov2 = input("Enter second movie: ")
mov3 = input("Enter third movie: ")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)

print(movies)

Enter first movie: The Notebook
Enter second movie: Me before you
Enter third movie: Before sunrise
['The Notebook', 'Me before you', 'Before sunrise']

In [2]:
#OR 
movies = []

movies.append(input("Enter first movie: "))
movies.append(input("Enter first movie: "))
movies.append(input("Enter first movie: "))

print(movies)

Enter first movie: The Notebook
Enter first movie: Inception
Enter first movie: Interstellar
['The Notebook', 'Inception', 'Interstellar']

# WAP to check if a list contains a palindrome of elements.

In [3]:
list = [1,2,3,2,1]
copy_list = list.copy()
copy_list.reverse()
if (copy_list == list):
    print("Palindrome")
else:
    print('Not Palindrome')

Palindrome

In [4]:
list = ['h', 'e', 'l', 'l','o' ]
copy_list = list.copy()
copy_list.reverse()
if (copy_list == list):
    print("Palindrome")
else:
    print('Not Palindrome')

Not Palindrome

# WAP to count the number of students with the "A" grade in the following tuple.

In [5]:
grade = ("C","D","A","A","B","B","A") #tuple
print("Total count of A in the tuple: ", grade.count("A"))

Total count of A in the tuple:  3

Then store the above values in a list & sort them from “A” to “D”

In [6]:
students = ["C","D","A","A","B","B","A"] #list
students.sort()
print(students)

['A', 'A', 'A', 'B', 'B', 'C', 'D']